streamlit
langchain
langchain-community
langchain-text-splitters
sentence-transformers
pyyaml
python-dotenv
openai
langchain-huggingface
rank-bm25
requests
protobuf==3.20.3
chromadb==0.5.23
langchain-chroma==0.1.4

